<footer class="">

  <div class="container">

    {% if site.email %}
    <section>
      <h2 class="">Contacto</h2>
      <nav class="">
        {% for item in site.email %}
        <a class="" href="mailto:{{ item[1] }}" title="{{ item[0] | escape }}">{{ item[1] | escape }}</a>
        {% endfor %}
      </nav>
    </section>
    {% endif %}

    <section>
      <h2>{% if site.banner %}
        {{ site.banner | escape }}
      {% else %}
        {{ site.title | escape }}
      {% endif %}</h2>
      <p>{{ site.description | escape }}</p>
    </section>

  </div>

</footer>
