// -----------------------------------------------------------------------------
// This file contains styles that are specific to the gallery page.
// -----------------------------------------------------------------------------

/**
 * Styles for gallery container
 * use like this: <main class="mainGaleria"><article class="articleGaleria"><img class="imgGaleria" /><p><a class="btn">Down</a></p><etc..../></article></main>
 */
.mainGaleria {
  background: linear-gradient(to bottom right, $brand-color, $brand-color-comp);
  z-index: -2;
  -webkit-scroll-snap-type: proximity;
  -webkit-scroll-snap-points-y: repeat(100%);
}
