// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/**
 * Styles for home container
 */
.mainHome {
  overflow: hidden;
  text-align: center;
  background: linear-gradient(to bottom left, $brand-color, $white 70%);
  h1 { display: none; }
}
