<form method="post" action="archivo_de_envio_{{ include.nuevo | escape }}.php">
  <input type="text" name="nombre" placeholder="* Nombre " />
  <input type="email" name="email" placeholder="* Email " />
  <textarea name="mensaje" rows="8">
    Estoy interesado/a en hacerme {{ include.nuevo | escape }}/a de {{ site.title | escape }} ( {{ site.banner | escape }} ) bla bla bla ...
  </textarea>
  <input class="btn-blue" type="submit" value="Hacerme {{ include.nuevo | capitalize | escape }}" />
</form>
