<h3 id="formulario">Formulario {{ include.nuevo | escape }}</h3>

<form method="post" action="../archivo_de_envio_{{ include.nuevo | escape }}.php">
  <input type="text" name="nombre" placeholder="* Nombre " />
  <input type="email" name="email" placeholder="* Email " />
  <input type="text" name="perro" value="{{ page.raza | escape }} · {{ page.nombre | escape }}" readonly="readonly" />
  <textarea name="mensaje" rows="8">
    Estoy interesado/a en {{ include.nuevo | escape }} a {{ page.nombre | escape }} de la raza {{ page.raza | escape }} bla bla bla ...
  </textarea>
  <input type="submit" value="Quiero {{ include.nuevo | capitalize | escape }}" />
</form>
