
<nav class="button-nav">
{% if page.url contains '/miembros/' %}
  {% include button.html
    class="button"
    href="/conocenos/"
    title="Que Hacemos"
    name="Que Hacemos"
  %}
  {% include button.html
    class="button active"
    href="/conocenos/miembros/"
    title="Quienes Somos"
    name="Quienes Somos"
  %}
{% else %}
  {% include button.html
    class="button active"
    href="/conocenos/"
    title="Que Hacemos"
    name="Que Hacemos"
  %}
  {% include button.html
    class="button"
    href="/conocenos/miembros/"
    title="Quienes Somos"
    name="Quienes Somos"
  %}
{% endif %}
</nav>
