.articles:after {
  content: "";
  display: table;
  clear: both;
}

.articles {
  clear: both;
  /*margin-bottom: 7rem;*/
}
.articles--list {
  margin-left: 0;
}
.articles--list__item {
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0.50rem 1.75rem 3rem;
  // border-top: 15px solid #FF1643;
  border: 1px solid rgb(255,111,255);
  margin-bottom: 1.75rem;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 5px 8px rgb(255,111,255);
}

@include media-query($on-palm) {
  .articles--list__item {
    float: left;

    width: 49%;
    &:nth-child(even) {
      margin-left: 2%;
    }
  }
}





@include media-query($on-palm) {
  .articles--list li:nth-child(2n+1) {
    clear: both;
  }
}
