.members-article,
.perros-article {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  @extend %vertical-rhythm;
  padding: 0.25em;

}
.members-title,
.perros-title {
  margin: 0;
  color: rgb(255,111,255);
  font-weight: bold;
  text-shadow: 1px 1px 1px $grey-color-dark;
}
.members-logo,
.perros-logo {
}
.members-short-data,
.perros-short-data {
  list-style: none;
  flex: 1 1 auto;
  text-align: right;
  padding-right: 1em;
  margin: 0;
}
.perros-name {
  display: block;
  text-align: center;
  color: rgb(255,111,255);
  font-weight: bold;
  text-shadow: 1px 1px 1px $grey-color-dark;
}
.perros-figure {
  border: 1px solid $grey-color;
  background: #fff;
  padding: 0.50em;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 5px 8px rgb(255,111,255);
  border-radius: 5px;
}
.perros-cabecera {
  border: 1px solid $grey-color;
  margin-bottom: 0.50em;
}
