<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es-ES" }}">

  {% include head.html %}

  {% if page.url == "/" %}

  <body class="home">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

    <main class="main absolute-center">
      {{ content }}
    </main>

  </body>

  {% else %}

  <body>

    <div class="main">
      {% include header.html %}

      <main class="page-content" aria-label="Content">

        <div class="wrapper">
          {{ content }}
        </div>

      </main>
    </div>

    <!-- {% include footer.html %} -->

  </body>

  {% endif %}

</html>
