<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {% include head.html %}

  <body class="flexColumn">

    {% if page.url == '/' %}

    <main class="mainHome absoluteCenter">
      {{ content }}
    </main>

    {% elsif page.url contains 'galerias' %}
    {% include header.html class="mainHeader glass" %}
    <main class="mainGaleria">
      {{ content }}
    </main>

    {% else %}

    {% include header.html class="mainHeader" %}

    <main class="mainSite" aria-label="Content">
      <section class="container">
        {{ content }}
      </section>
    </main>

    {% include footer.html %}

    {% endif %}

  </body>

</html>
