// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  margin-top: 3rem;
  border-top: solid 1px $brand-color;
  background: lighten($brand-color, 40%);
}
