// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
  background: $light-grey;
}

.mainHeader {
  border-bottom: solid 1px $brand-color;
  background: lighten($brand-color, 40%);
  padding: 0.50rem 0;
  position: fixed;
  left: 0;
  right: 0;
  a {
    text-decoration: none;
    color: $brand-color;
  }
  @include mq('medium') {
    padding: 0;
  }
}

.mainNav {
  transition: 0.5s;
  border-top: solid 1px $brand-color;
  background: lighten($brand-color, 40%);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 3rem;
  @include mq('medium') {
    position: inherit;
    flex-direction: row;
    border: none;
    align-items: center;
  }
  a {
    padding: 0.50rem 1rem;
    border-bottom: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    @include mq('medium') {
      border: none;
      padding: 0.50em;
    }
  }
}
.navLink {
  @include on-event {
    text-decoration: none;
    background: $brand-color;
    color: $white;
  }
}
.mainSite {
  margin-top: 3rem;
}
.logoNav {
  margin-right: 0.25rem;
}
.burguer {
margin-top: 0.15rem;
  @include on-event {
    cursor: pointer;
  }
  @include mq('medium') {
    display: none;
  }
}
/* checkbox */
#menu-icon {

  display: none;

  /* show menu */
  &:checked ~ .mainNav {

        left: 0;
        width: 50%;
        transition: 0.5s;

  }
}
