// -----------------------------------------------------------------------------
// This file contains all styles related to the sticky footer layout.
// -----------------------------------------------------------------------------

/**
 * Basic styles for sticky footer layout
 */
html, body {
  width: 100%;
  height: 100%;
}

// body helper class flexColumn

main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
