---
layout: perros
title: Adoptar por Razas
section: Perros
permalink: /perros/adoptar/razas/
excerpt: >
  Excepteur sint occaecat
  cupidatat non proident,
  sunt in culpa qui officia
  deserunt mollit anim id
  est laborum.
---

{% assign apadrina = site.perros | where: "adopta", "true" | sort: "order" %}
{% assign groups = apadrina | group_by: "raza" %}

{% for group in groups %}
    <h3 class="">{{ group.name | escape }}</h3>
      <div class="articles">
      {% for perro in group.items %}
    <article class="article">
      <a class="absoluteCenter" href="{{ perro.url | relative_url }}" title="{{ perro.nombre | escape }}">
        <h4 class="">{{ perro.nombre | escape }}</h4>
      <img
        class=""
        src="{{ perro.avatar | relative_url }}"
        alt="Imagen con la cara de {{ perro.nombre | escape }}"
        title="Imagen con la cara de {{ perro.nombre | escape }}"
        width="200"
        height="200">
      <ul class="">
        <li><b>Sexo:</b> {{ perro.sexo | escape }}</li>
        <li><b>Raza:</b> {{ perro.raza | escape }}</li>
        <li><b>Tamaño:</b> {{ perro.talla | escape }}</li>
        <li><b>Nacido:</b> {{ perro.nacimiento | escape }}</li>
        <li><b>Entrada:</b> {{ perro.entrada | escape }}</li>
        <li><b>Situación:</b> {{ perro.situacion | escape }}</li>
      </ul>
    </a>
    </article>
    {% endfor %}
    </div>
{% endfor %}
