---
layout: page
title: Quienes Somos
permalink: /conocenos/miembros/
---

<!-- En la actualidad {{ site.title }} cuenta con {{ site.data.members | size }} miembros. -->

<!-- {% for member in site.data.members %}
<article class="members-article">
  <h2 class="members-title">
    <img class="members-logo" src="{{ member.avatar | relative_url }}" alt="Foto de {{ member.name }}" width="96" height="96">
  </h2>
  <ul class="members-short-data">
    <h3>{{ member.name }}</h3>
    <li><b>Nombre:</b> {{ member.fullname }}</li>
    <li><b>Cargo:</b> {{ member.position }}</li>
  </ul>
</article>
{% endfor %} -->


<section class="articles">
  <ul class="articles--list">
    {% for member in site.data.members %}
    <li class="articles--list__item">
      <img class="" src="{{ member.avatar | relative_url }}" alt="Foto de {{ member.name }}" width="96" height="96">
      <h2 class="members-title" style="display:inline-block;margin-left:2rem;margin-bottom:3rem;">
        {{ member.name }}
      </h2>
      <p><b>Nombre:</b> {{ member.fullname }}</p>
      <p><b>Cargo:</b> {{ member.position }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
